<tr id="<%= dom_id article %>">
  <td>
    <strong>Title:</strong>
    <%= article.title %>
  </td>

  <td>
    <strong>Description:</strong>
    <%= article.description %>
  </td>

  <td>
    <strong>Author:</strong>
    <%= article.author %>
  </td>

  <td>
    <%= link_to "Show this article", article %>
  </td>
</tr>
