<tr id="<%= dom_id article %>">
  <td>
    <strong>Title:</strong>
    <%= article.title %>
  </td>

  <td>
    <strong>Description:</strong>
    <%= article.description %>
  </td>

  <td>
    <strong>Author:</strong>
    <%= article.author %>
  </td>

  <td>
    <%= link_to 'del', article_path(article), data: {turbo_confirm: "are you sure?",  turbo_method: :delete} %>
    <%= link_to 'show', article_path(article) %>
  </td>
</tr>
