<div class="container">
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(model: article, local: true, class: "shadow p-3 mb-5 bg-info rounded") do |form| %>

        <div class="form-group row mb-2">
          <%= form.label :title, class:"col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= form.text_field :title, class:"form-control shadow rounded", placeholder: "title of article" %>
          </div>
        </div>

        <div class="form-group row mb-2">
          <%= form.label :description, class:"col-2 col-form-label text-light"  %>
          <div class="col-10">
            <%= form.text_area :description, class:"form-control shadow rounded", rows: 5, placeholder: "description of article"  %>
          </div>
        </div>

        <div class="form-group row mb-2">
          <%= form.label :author, class:"col-2 col-form-label text-light"  %>
          <div class="col-10">
            <%= form.text_area :author, class:"form-control shadow rounded", placeholder: "author of article"  %>
          </div>
        </div>

        <div class="form-group row mb-2 ">
          <div class="text-center">
            <%= form.submit class: "btn btn-outline-light btn-sm shadow rounded"%>
          </div>
        </div>
      <% end %>
    </div>

    <%= link_to "Back to article list", articles_path, class: "text-info text-center mb-3" %>
  </div>
</div>